.results-table {
  background-color: #c3c3c314;
  margin: 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.number {
  font-size: 3em;
  margin: 0;
}
.points {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  font-size: 2em;
}
