.results-table {
  background-color: #c3c3c314;
  margin: 3em;
}
.number {
  font-size: 3em;
  margin: 0;
}
.points {
  display: inline-block;
  /* border: 1px solid red; */
  padding: 1em;
  font-weight: bold;
  font-size: 2em;
}

/* .results-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
  grid-template-rows: repeat(auto-fill, 100%);
}

.results-header {
  display: inline-flex;
} */
