.rock-color {
  color: #63424b;
}

.paper-color {
  color: #36504b;
}

.scissors-color {
  color: #535353;
}

.divider {
  display: flex;
  justify-content: center;
}

.ruler {
  display: block;
  width: 5%;
  border-top: 3px solid #3da7d9;
  padding: 10px;
}
