.button {
  padding: 5px;
  border-radius: 15px;
  margin-right: 30px;
  border-width: 5px;
}

.image {
  width: 200px;
  height: 200px;
  padding: 5px;
}

#rock {
  border-color: #63424b;
}

#paper {
  border-color: #36504b;
}

#scissors {
  border-color: #535353;
}
