.line {
  background-color: lightblue;
  display: inline-block;
  width: 40%;
  height: 5px;
  align-self: center
}

.timeline-entry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
