/* .entry {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.divider {
  display: flex;
  justify-content: center;
}

.ruler {
  display: block;
  width: 5%;
  border-top: 3px solid #3da7d9;
  padding: 10px;
} */
