@media only screen and (max-width: 600px) {
  .options {
    display: flex;
    justify-content: space-between;
    align-content: column wrap;
  }
}

.options {
  display: flex;
  justify-content: space-between;
}
